@font-face {
    font-family: 'Inter-Regular';
    src: url('../Font/Inter-Regular.ttf') format('truetype');
}

.UC01SaishinjyouhouBtn {
    height: 25px;
    width: 150px;
    border: none;
    margin-top: 5px;
    color: white !important;
    background-color: #14B0F2 !important;
    font-family: inter;
    font-size: 12px !important;
    font-weight: 400 !important;
    border-radius: 6px !important;
}

    .UC01SaishinjyouhouBtn:hover {
        background-color: rgb(220,220,220) !important;
        color: white !important;
        width: 150px;
    }

/*@media (max-width: 480px) {
    .UC01SaishinjyouhouBtn {
        width: calc(100vw - 130px) !important;
    }
}

@media (min-width: 481px) {
    .UC01SaishinjyouhouBtn {
        width: 150px;
    }
}

@media (max-width: 480px) {
    .UC01MobileSaishinjyouhouBtn {
        margin-left: 4px;
    }
}*/
.UC01FusentSuikaBtn {
    display: block !important;
    height: 30px;
    border: none;
    margin-top: 5px;
    /*color: rgb(41, 171, 226) !important;*/
    color: white !important;
    /*background-color: white !important;*/
    background-color: #14B0F2 !important;
    font-family: inter;
    font-size: 13px !important;
    font-weight: 600 !important;
    border-radius: 6px !important;
}

    .UC01FusentSuikaBtn:hover {
        background-color: rgb(220,220,220) !important;
        color: white !important;
        width: 250px;
    }

@media (max-width: 480px) {
    .UC01FusentSuikaBtn {
        width: calc(100vw - 130px) !important;
    }
}

@media (min-width: 481px) {
    .UC01FusentSuikaBtn {
        width: 250px;
    }
}

@media (max-width: 480px) {
    .UC01MobileFusentSuikaBtn {
        margin-left: 4px;
    }
}

.UC01BoardDiv {
    overflow-y: hidden;
    /*background-color: rgb(249, 247, 245);*/
    background-color: #EAE7DD;
    border-radius: 15px;
    vertical-align: middle;
    display: inline-block;
    height: calc(100vh - 115px);
    max-height: calc(100vh - 115px);
}

@media (max-width: 480px) {
    .UC01BoardDiv {
        width: 233px;
    }
}

@media (min-width: 481px) {
    .UC01BoardDiv {
        width: 233px;
    }
}

.UC01FusenTopDiv {
    margin: 5px 10px;
}

.UC01InnerTopDiv {
    height: 27px;
}

.UC01TaskCount {
    font-size: 12px;
    font-family: inter;
    position: relative;
    left: 75px;
    margin-top: 8px;
    color: #14B0F2;
}

.UC01FusenInfoDiv {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 175px);
}

.PendingBoardDiv {
    z-index: 13;
}


.UC02Label {
    float: left;
    max-width: 197px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /*position: relative;
    bottom: 10px;*/
}

.headerFont {
    position: absolute;
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    float: left;
    max-width: 130px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.task {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 6px;
    width: 213px;
    height: 81px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 2px 2px 4px dimgrey;
}

.scode {
    position: absolute;
    top: 5px;
    left: 8px;
    font-family: inter;
    font-size: 12px;
    color: #AAA;
}

.date {
    position: absolute;
    top: 4px;
    right: 8px;
    font-family: inter;
    font-size: 14px;
    color: #000;
}

.kenmei {
    position: absolute;
    top: 23px;
    left: 8px;
    font-family: inter;
    font-size: 14px;
    color: #000;
    max-width: 197px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sTokuisaki {
    position: absolute;
    top: 44px;
    left: 8px;
    font-family: inter;
    font-size: 14px;
    color: #000;
    max-width: 197px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tantou {
    float: right;
    position: absolute;
    top: 63px;
    right: 28px;
    font-family: inter;
    font-size: 12px;
    color: #AAA;
}

/*.circle {
    position: absolute;
    top: 64px;
    right: 6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.5px;
    border-color: #AAA;
    background-color: #fff;
}

    .circle:hover {
        border: 1px solid #14b0f2;
    }*/
.circle {
    position: absolute;
    top: 58px;
    right: 6px;
}

.tantouImg {
    float: right;
    position: absolute;
    top: 149px;
    right: 28px;
    font-family: inter;
    font-size: 12px;
    color: #AAA;
}

/*.circleImg {
    position: absolute;
    top: 150px;
    right: 6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.5px;
    border-color: #AAA;
    background-color: #fff;
}

    .circleImg:hover {
        border: 1px solid #14b0f2;
    }*/
.circleImg {
    position: absolute;
    top: 144px;
    right: 6px;
}

.image {
    position: absolute;
    top: 65px;
    left: 11px;
    width: 191px;
    height: 80px;
    text-align: center;
}

    .image img {
        max-width: 191px;
        max-height: 80px;
        object-fit: contain;
    }

.bigcheck input {
    width: 21px;
    height: 21px;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.navbar-nav li:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.nav-link:hover {
    color: white;
    cursor: pointer;
    background-color: #14A2F2;
}

.dropdown-item:hover {
    background-color: rgba(20, 176, 242, 0.4);
}


.dropdown-font {
    font-family: inter;
    font-size: 20px;
}

.nav-font {
    font-family: inter;
    font-size: 24px;
    font-weight: 900;
}

.btn-font {
    font-family: inter;
    font-size: 12px;
    font-weight: 400;
}
.error {
    font-family: inter;
    font-size: 11px;
    color: red;
}

.col-md-5 {
    width: 547px;
}

.K3Login {
    max-width: 450px !important;
    width: 450px !important;
    margin-left: auto;
    margin-right: auto;
}

.LabelFont {
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.LoginFont {
    font-family: inter;
    font-size: 16px;
}

.textFont {
    font-family: inter;
    font-size: 14px;
}

.loginbutton {
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    border: 1px solid #14B0F2;
    background-color: #14B0F2;
    color: White;
    width: 90px;
    height: 35px;
}

    .loginbutton:hover, .loginbutton:focus {
        border-color: #14B0F2;
        border-width: 2px;
        background-color: #7CD0FF;
        color: White;
    }


.bigcheckL input {
    width: 21px;
    height: 21px;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 4px;
    margin-left: 3px;
    margin-bottom: 3px;
}
.TooltipLbl {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}